<!-- apps/base/templates/home/index.html -->
{% extends 'base.html' %}

{% block title %} Room {% endblock title %}

{% block content %}

      <main class="profile-page layout layout--2">
          <div class="container">

              <!-- Room Start -->
              {% include 'inc/room-content.html' %}
              <!-- Room End -->

              <!-- Participants Start -->
              {% include 'inc/participants.html' %}
              <!-- Participants End -->

          </div>
      </main>

{% endblock content %}