<!-- apps/base/templates/home/index.html -->
{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}


    <main class="layout layout--3">
        <div class="container">

            <!-- Topics Start -->
            {% include 'inc/topics.html'%}
            <!-- Topics End -->

            <!-- Room List Start -->
            {% include 'inc/room.html'%}
            <!-- Room List End -->

            <!-- Activities Start -->
            {% include 'inc/activities.html'%}
            <!-- Activities End -->

        </div>
    </main>

{% endblock content %}